.box {
  width: 25vw;

  margin: 2rem 3rem;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.box1 {
  display: block;
  width: 75vw;
  position: absolute;
  z-index: 10;
  left: 0;
  margin: 2rem 3rem;
  margin-left: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.subBox {
  position: sticky;
  padding: 1rem 0;
  top: 1rem;
  background-color: var(--color-primary);
  color: black;
  font-weight: 600;
}
li {
  list-style-type: none;
}
.headings {
  font-size: large;
  margin-top: 1rem;
  margin-left: 3rem;
}
