:root {
  --color-primary: #75dc94;
  --color-text: black;
  --color-cartbg: #b4ecc4;
}

* {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--color-text);
  overflow-x: hidden;
}
